*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-secondary-color: #f5f4fa;
  --background-section-color: #2f303a;
  --secondary-title-color: #212121;
}
body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.menu-list .link.current {
  color: var(--accent-color);
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* --------------------HERO-------------------- */
.hero {
  background-color: var(--background-section-color);
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  width: 1600px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 696px;
  margin: 0 auto;
}
.hero-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

/* --------------------BTN-------------------- */
.main-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  margin-top: 30px;
}
.btn-light {
  color: var(--primary-white-color);
}
.main-btn:hover,
.main-btn:focus {
  background-color: #188ce8;
}

/* --------------------HEADER-------------------- */
.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}
.menu-list {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-connect {
  display: flex;
  margin-left: auto;
}
.header-connect :not(:last-child) {
  margin-right: 30px;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: flex;
  flex-direction: row-reverse;
}
/* .header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
} */
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: flex;
  flex-direction: row-reverse;
}
/* .header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
} */
.address-icon {
  margin-right: 10px;
  fill: #757575;
}
.header-logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}
.dark-color {
  color: var(--primary-text-color);
}
.white-color {
  color: var(--primary-white-color);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-mail:hover .address-icon,
.header-mail:focus .address-icon,
.header-tel:hover .address-icon,
.header-tel:focus .address-icon {
  fill: var(--accent-color);
}
/* --------------------SECTION-------------------- */
.section-after-hero {
  padding-bottom: 94px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-features {
  display: flex;
  align-items: center;
}
.section-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.section-text {
  margin-top: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section-title-text:last-child {
  margin-right: 0;
}
.section-title-text {
  width: 270px;
  margin-right: 30px;
}
/* --------------------DESC-------------------- */
.desc-img {
  display: flex;
}
.desc-img-item:not(:last-child) {
  margin-right: 30px;
}
.desc-img-title:not(:last-child) {
  margin-right: 30px;
}
.desc-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.desc-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 10px;
  margin-bottom: 16px;
}
.desc-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.desc-img-border {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-bottom: solid #ffffff;
}
.desc-person {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-icon {
  fill: #afb1b8;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}
/* --------------------FOOTER-------------------- */

.footer {
  background-color: var(--background-section-color);
  padding: 60px 0;
  display: flex;
  align-items: center;
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.footer-mail {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tele {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-connect {
  margin-top: 9px;
}
/* --------------------PORTFOLIO-------------------- */

.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-title-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: solid #f5f4fa;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: #2196f3;
  color: var(--primary-white-color);
}
.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-btn-title:not(:last-child) {
  margin-right: 8px;
}
.portfolio-main {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio-main-title {
  flex-basis: calc (100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-frame {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
